@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

body {
    /*font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;*/
    font-family: "Poppins", sans-serif;
}

.material-symbols-rounded {
  font-family: 'Material Symbols Rounded';
  font-size: 25px;
  font-style: normal;
  line-height: 1;
  font-variation-settings: 'FILL' 0, 'wght' 350, 'GRAD' 0, 'opsz' 28;
}

.dark .material-symbols-rounded {
  font-variation-settings: 'FILL' 0, 'wght' 250, 'GRAD' 0, 'opsz' 28;
}


input:-webkit-autofill {
    box-shadow: 0 0 0px 1000px #ffffff72 inset !important;
    -webkit-text-fill-color: black !important;
}

.dark input:-webkit-autofill {
    box-shadow: 0 0 0px 1000px #0d0d0d inset !important;
    -webkit-text-fill-color: #ffffff !important;
}

:root {
    --bg-gradient: radial-gradient(125% 125% at 50% 10%, #eef2ff 40%, #c7d2fe 100%);
    --scrollbar-bg: radial-gradient(125% 125% at 50% 10%, #eef2ff 40%, #abbbf2 100%);
    --scrollbar-thumb: radial-gradient(125% 125% at 50% 10%, #eef2ff 40%, #6985f7 100%);
    --scrollbar-thumb-hover: radial-gradient(125% 125% at 50% 10%, #eef2ff 40%, #6281fd 100%);
}

.dark {
    --bg-gradient: radial-gradient(125% 125% at 50% 10%, #000000 40%, #2b0707 100%);
    --scrollbar-bg: radial-gradient(125% 125% at 50% 10%, #000000 40%, #2b0707 100%);
    --scrollbar-thumb: radial-gradient(125% 125% at 50% 10%, #000000 40%, #8d2020 100%);
    --scrollbar-thumb-hover: radial-gradient(125% 125% at 50% 10%, #000000 40%, #cc1e1e 100%);
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: var(--scrollbar-bg);
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb);
    border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-hover);
}